<template>
    <div class="card card-shadow h-100">
        <a href="#"><img class="card-img-top" :src="portf.image" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#"> {{ portf.title }}</a>
            </h4>

            <p class="card-text"> 
            {{ portf.description }}</p>
        </div>
    </div>
</template>


<script>

    export default {
        // data: function () {
        //      return {
        //         portf:[],
        //         num:'Yes'
        //     }
        // },
        props:[
          'portf',
                'num'
        ],
        mounted() {
             
            this.update()
        },
        methods: {
           update: function(){
           // debugger;
          // this.num = 'Next1'
           // console.log(this.num)
             console.log(this.portf)
           }
        }

    }
</script>
